.cartItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    border: 2px solid #B9D5AB;
    border-radius: 5px;
    gap: 20px;
}


.itemNameWrap{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    max-width: 350px;
    width: 100%;
}

.checkbox{
    min-width: 20px;
    min-height: 20px;
    accent-color: #417B13;
}


.itemNameWrap img{
    width: 40px;
    height: 40px;
}

.itemTextBig{
    font-weight: bold;
    font-size: 20px;
    color: #252525;
}

.itemAction{
    display: flex;
    max-width: 300px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.auto{
    padding:3px ;
    cursor: pointer;
    text-align: center;
    max-width: 150px;
    width: 100%;
    border: 1px solid #7F817F;
    color: #8EB575;
    border-radius: 5px;
    font-size: 18px;

}

.del{
    color: tomato;
    font-size: 18px;
    cursor: pointer;
}

.itemAmtWrap{
    display: flex;
    flex-direction: column;
    gap: 3px;
    max-width: 200px;
    width: 100%;
}

.itemAmt{
    max-width: 200px;
    width: 100%;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid #89B67C;
}


.price{
    font-size: 14px;
    font-weight: 500;
}

.itemIncDec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70px;
    width: 100%;
}


.itemIncDec button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
}




/* ************************************MEDIA QUERIES****************************/


@media (max-width:946px){

    .cartItem{
        padding: 30px 10px;
        gap: 20px;
    }

    .itemTextBig{
        font-size: 2.4vw;
        white-space: nowrap;
    }

}


@media (max-width:635px){

    .cartItem{
        padding: 30px 5px;
        gap: 10px;
    }

    .price{
        font-size: 2.5vw;
    }

.del{
    font-size: 2.5vw;
    }

.auto{
    font-size: 2.5vw;
    }

}


@media (max-width:564px){

    .cartItem{
        flex-direction: column;
        padding: 30px 10px;
        gap: 10px;
    }

    .itemNameWrap{
        flex-direction: column;
    }

    .itemAction{
        flex-direction: column;
    }


    .itemTextBig{
        font-weight: bold;
        font-size: 4.2vw;
        color: #252525;
    }


    .auto{
        max-width: 150px;
        font-size: 4vw;
    }
    
    .del{
        font-size: 4vw;
    }
    
    .itemAmtWrap{
        max-width: unset;
        flex-direction: column;
        align-items: center;
    }
    
    .itemAmt{
        max-width: 150px;
        width: 100%;
        padding: 3px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        border: 1px solid #89B67C;
    }
    
    
    .price{
        font-size: 14px;
        font-weight: 500;
    }

}